// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.title {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

p.title {
  font-size: 16px;
  font-weight: bold;
}

p.link {
  font-size: 14px;
  font-weight: bold;
}

table, tr, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 2px;
  height: 30px;
}

.form table, .form tr, .form td {
  border-style: hidden;
  height: 30px;
}

td.item {
  text-align: right;
  font-weight: bold;
}

td.value {
  text-align: left;
}

th {
  font-size: 16px;
  font-weight: bold;
  background-color: transparentize(cornflowerblue, 0.4);
  text-align: center;
}

th.t-hidden {
  width: 10%;
  background-color: white;
  border-style: hidden;
  border-left: 1px solid black;
}

th.t-id {
  width: 5%;
}

th.t-date {
  width: 10%;
}

th.t-description {
  width: 30%;
}

th.t-type {
  width: 20%;
}

th.t-amount {
  width: 10%;
}

tr.alt {
  background-color: transparentize(lightcyan, 0.9);
}

td.t-id {
  text-align: center;
}

td.t-date {
  text-align: center;
}

td.t-actions {
  background-color: white;
  text-align: center;
  border-style: hidden;
  border-left: 1px solid black;
  font-weight: bold;
}

td.t-amount {
  text-align: right;
}

.t-day-text-box {
  width: 30px;
}

.t-description-text-box {
  width: 400px;
}

.t-year-text-box {
  width: 40px;
}

.t-amount-text-box {
  width: 80px;
}
