<table class="header">
  <tr>
    <td class="header-image"><%= image_tag('home-icon.png', size: '50x50', alt: 'Finance Manager') %></td>
    <td class="header-name">Finance Manager</td>
    <td class="header-links">
      <%= link_to 'Dashboard', root_path %>
      &nbsp;
      |
      &nbsp;
      <%= link_to 'Transactions', '/transactions' %>
      &nbsp;
      |
      &nbsp;
      <%= link_to 'Categories', '/categories' %>
    </td>
  </tr>
</table>
<br>
<hr>
<br>
